<div class="d-flex flex-column h-100">
  <ul class="list-group">
    <li class="list-group-item font-weight-bold">{{title}}</li>
    <li  class="list-group-item" *ngFor="let item of items; index as i">
      <div class="w-100 d-flex px-2 align-items-center" *ngIf="i !== updateItem.index" (click)="startUpdate(i, item)">
        {{item}}
        <i class="ml-auto fas fa-minus-circle" (click)="removeItem(i)"></i>
      </div>
      <div class="d-flex mt-auto pt-2" *ngIf="i === updateItem.index">
        <input type="text" class="form-control" placeholder="New {{title}}" [(ngModel)]="updateItem.text" #ctrl="ngModel" required>
        <button type="button" class="btn btn-outline-dark mx-1" (click)="saveItem()">
          <i class="fas fa-save"></i>
        </button>
        <button type="button" class="btn btn-outline-dark mr-2" (click)="cancel()">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
    </li>
  </ul>
  <div class="d-flex mt-auto pt-2">
    <input type="text" class="form-control" placeholder="New {{title}}" [(ngModel)]="name" #ctrl="ngModel" required>
    <button type="button" class="btn btn-outline-dark mx-2" (click)="addItem(name)">
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>
</div>
